---
layout: layout.html
---

<div class="row">
  <div class="col-md-12">
    {% for post in collections.post %}
      <h2 class="post-title">
        <a href="{{ post.url }}">{{ post.data.title }}</a>
      </h2>
      <p class="lead">Por {{ post.data.author }}</p>
      <p>Postado em {{ post.data.posted_at }}</p>

      {% if post.data.tags %}
        <p>
          <strong>Tags:</strong>
          {% for tag in post.data.tags %}
            <span class="badge bg-secondary">{{ tag }}</span>
          {% endfor %}
        </p>
      {% endif %}

      <p>
        {{ post.data.resume }}
      </p>
      <hr>
    {% endfor %}
  </div>
</div>
